<!DOCTYPE html>
<html ng-app="app" ng-controller="siteController">
<head>
<title>CART - dirtyShirty</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="https://fonts.googleapis.com/css?family=Poiret+One&subset=latin,latin-ext" rel="stylesheet" type="text/css">
<link href="css/ds.css" rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.min.js"></script>
<script src="js/dsang.js"></script>
<script src="https://use.fontawesome.com/a1403016a7.js"></script>
</head>
<body>
	<header>
		<img src="img/dirty_shirty_logo_small.png">
		<nav>
			<ul>
				<a ng-repeat="menu in menus" href="{{menu.url}}"><li>{{menu.name}}</li></a>
				<a ng-click="Login()"><li>{{loginButton}}</li></a>
			</ul>
		</nav>
	</header>
	<div class="container">
		<ul class="cartItems">
			<h1>{{title}}:</h1>
			<li class="cartItem" ng-repeat="c in cart | orderBy:'id'">
				<p>{{c.name}} - {{c.price}}$ - <span ng-click="RemoveItem($index, c.price)">delete item</span></p>
			</li>
			<li ng-if="cart.length < 1">You have no item in cart</li>
			<h2>All: {{allPrice}}$</h2>
		</ul>
		<aside class="items">
			<h1>Similar items</h1>
			<ul class="items">
				<li class="item" ng-repeat="item in items | orderBy:'id'">
					<div class="itemImage">
						<img src="{{item.image}}">
					</div>
					<h2><a href="{{item.url}}">{{item.name}}</a> {{item.price}}</h2>
				</li>
			  </ul>
		</aside>
	</div>
	<footer>
		<ul>
			<li ng-repeat="footer in footers"><a href="{{footer.url}}">{{footer.name}}</a></li>
		</ul>
	</footer>
</body>
</html>
