<ul class="cartItems">
	<h1>{{title}}:</h1>
	<li class="cartItem" ng-repeat="c in cart | orderBy:'id'">
		<p>{{c.name}} - {{c.price}}$ - <span ng-click="RemoveItem($index, c.price)">delete item</span></p>
	</li>
	<li ng-if="cart.length < 1">You have no item in cart</li>
	<h2>All: {{allPrice}}$</h2>
</ul>
<aside class="items">
	<h1>Similar items</h1>
	<ul class="items">
		<li class="item" ng-repeat="item in items | orderBy:'id'">
			<div class="itemImage">
				<img src="{{item.image}}">
			</div>
			<h2><a href="{{item.url}}">{{item.name}}</a> {{item.price}}</h2>
		</li>
	  </ul>
</aside>
